$bakcgroundNavBar: #2F353A;
.footer__container{
    background-color: $bakcgroundNavBar;
    display: flex;
    justify-content: center;
    padding: .4rem;
    height: 100%;
}




.footer__title{
    padding: .3rem;
    color: #fff;
}